.border{
    border: 2px solid black;
    margin: 4px;
 }
 .flex{
    display: flex;
 }
 .justify-center{
    justify-content: center;
 }
.left{
    width: 25vw;
}
.right{
    width: 75vw;
}
.home ul li{
    width: 25px;

}